.about {
  position: relative;
  padding: 0 80px 0;
  display: flex;
  overflow: hidden;
  color: #fff;
  background-color: #0a2750;
}

.about__title {
  margin: 100px 0 0;
  max-width: 251px;
  z-index: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 660px;
  margin: 119px 0 173px auto;
}

.about__paragraph {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  width: 426px;
  height: 426px;
  position: absolute;
  border-radius: 50%;
  background-color: #2f80ed;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  width: 426px;
  height: 426px;
  position: absolute;
  border-radius: 50%;
  background-color: #2f80ed;
  top: -152px;
  left: -129px;
  z-index: 0;
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(140%);
    opacity: 0;
  }
}
