.menu {
  background-color: #0a2750;
  background-image: url('../images/background_menu.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 720px;
  max-height: 800px;
  height: 100vh; */
}
.menu__title {
  margin-top: 100px;
  margin-bottom: 24px;
  max-width: 780px;
  background-color: burlywood;
}

.menu__subtitle {
  max-width: 780px;
  margin-bottom: 100px;
  background-color: forestgreen;
}

.menu__cards {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.card {
  flex-basis: 44%;
  max-width: 600px;
}

.card:last-of-type {
  margin: 0 auto;
}
.card__title {
  margin: 0 0 32px;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid white;
  margin-right: 10px;
  margin-left: 10px;
}
